body {
    background: #1f1f1f;
    height: 100%;
}

/* Containers */
.cta {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.6s ease-out;
    width: 120px;
    height: 30px;
}

.cta .arrow {
    position: absolute;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 120px;
}

/* Components */
.cta .text {
    position: absolute;
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background: #1f1f1f;
    color: #ffffff;
    margin-left: 0;
    padding: 0 9px;
    transition: 0.5s ease;
}

.cta .line {
    display: inline-flex;
    background: #ffffff;
    height: 2px;
    width: 120px;
    content: '';
    transition: 1s ease;
}

.cta .arrow-point {
    position: absolute;
    border-bottom: 6px solid white;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    margin-right: 0;
    margin-left: auto;
    content: '';
    transform: rotate(90deg) translateY(-5px);
}

/* Animation */
.cta:hover .arrow .line {    
    width: 80px;
}

.cta:hover .text {    
    transform: translateX(67px);
}